{% extends "_base.html" %}

{% block nav %}
  <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'core:course_list' %}">Courses</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{object}}</li>
		</ol>
	</nav>
{% endblock nav %}

{% block content %}

<form method="POST" action="{% url 'core:course_delete' object.id %}">{% csrf_token %}
Click Yes to delete {{ object.name }}
<button type="submit">YES</button>
</form>
{% endblock content %}
