{% extends "_base.html" %}
{% block nav %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'core:course_list' %}">Courses</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{course}}</li>
		</ol>
	</nav>
{% endblock nav %}

{% block content %}

	<h4>Courses</h4>
	{{ course.name }}
	<br><br>
	<h4>Subjects</h4>
	{% for subject in subjects %}<br>
	{{ forloop.counter }}.<a href="{% url 'core:subject_detail' subject.id %}">{{ subject }}</a>
    <a href="{% url 'core:subject_edit' subject.id %}">Edit</a>  <a href="{% url 'core:subject_delete' subject.id%}">Delete</a>
	{% endfor %}<br><br>

	<a href="{% url 'core:subject_add' course.id %}">Add New Subject</a>
{% endblock content %}
