<!DOCTYPE html>
<html>
<head>
	<title>Course Detail</title>
</head>
<body>
	<h4>Courses</a></h4>
	{{ object.name }}
	<br><br>
	<h4>Subjects</a></h4>
	{% for subject in subjects %}<br>
	{{ forloop.counter }}.<a href="{% url 'core:subject_unit' subject.pk %}">{{ subject }}</a>
	{% endfor %}<br><br>
	{% for obj in object_list %}
	{{forloop.counter}}. <a href="{% url 'core:subject_detail' obj.id %}">{{ obj.name }}</a>
	{% endfor %}
	<a href="{% url 'core:subject_add' object.id %}">Add New Subject</a>
</body>
</html>
