<!DOCTYPE html>
<html>
<head>
	<title>Course Detail</title>
</head>
<body>
	<h4>Courses</h4>
	{{ course.name }}
	<br><br>
	<h4>Subjects</h4>
	{% for subject in subjects %}<br>
	{{ forloop.counter }}.<a href="{% url 'core:subject_detail' subject.id %}">{{ subject }}</a>
    <a href="{% url 'core:subject_edit' subject.id %}">Edit</a>  <a href="{% url 'core:subject_delete' subject.id%}">Delete</a>
	{% endfor %}<br><br>

	<a href="{% url 'core:subject_add' course.id %}">Add New Subject</a>
</body>
</html>
