{% extends "_base.html" %}

{% block content %}

<h3>Question Sets of {{ chapter }} </h3>
<h5><a href="{% url 'core:question_sets_add'  chapter.pk %}">Add Question Sets</a></h5>
{% for set in question_sets %}
 {{ forloop.counter }}.

<a href="{% url 'core:question_set_dashboard' set.pk %}">{{ set.name }}</a>
<a href="{% url 'core:question_sets_update' set.pk %}">Edit</a> <a href="{% url 'core:question_sets_delete' set.pk %}">Delete</a>
  {% empty %}
  <p>
    No Question Sets available
  </p>
{% endfor %}
{% endblock content %}
