{% extends "_base.html" %}

{% block nav %}
	<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'core:course_list' %}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'core:course_detail' object.chapter.unit.subject.course.id %}">{{object.chapter.unit.subject.course}}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'core:subject_detail' object.chapter.unit.subject.id %}">{{object.chapter.unit.subject}}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'core:unit_detail' object.chapter.unit.id %}">{{object.chapter.unit}}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'core:question_sets' object.chapter.id %}">{{object.chapter}}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{object}}</li>
			</ol>
		</nav>
{% endblock nav %}

{% block content %}

	{{obj.name}}
<div class="questions">
  <h3>
    <a href="{% url 'core:question_add' obj.pk %}">Add Question</a>
</h3>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question</th>
      <th scope="col">Option1</th>
      <th scope="col">Option2</th>
      <th scope="col">Option3</th>
      <th scope="col">Option4</th>
    </tr>
  </thead>
  <tbody>
  {% for q in questions %}
    <tr>
      <th scope="row">{{ forloop.counter }}.</th>
      <td><a href="{% url 'core:question_dashboard' q.pk %}">{{ q.question }}</a></td>
      {% for o in  q.options.all %}
      <td><a href="{% url 'core:option_detail' o.pk %}">{{ o }}</a></td>
      {% endfor %}
    </tr>
   {% empty %}
    <tr>
      <td>
      No Question  available
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>

</div>
{% endblock content %}
