{% extends "_base.html" %}
{% block nav %}
	<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:course_list' %}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'core:course_detail' chapter.unit.subject.course.id %}">{{ chapter.unit.subject.course }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'core:subject_detail' chapter.unit.subject.id %}">{{chapter.unit.subject}}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'core:unit_detail' chapter.unit.id %}">{{chapter.unit}}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{chapter}}</li>
			</ol>
		</nav>
{% endblock nav %}
{% block content %}

<h3>Question Sets of {{ chapter }} </h3>
<h5><a href="{% url 'core:question_sets_add'  chapter.pk %}">Add Question Sets</a></h5>
{% for set in question_sets %}
 {{ forloop.counter }}.

<a href="{% url 'core:question_set_dashboard' set.pk %}">{{ set.name }}</a>
<a href="{% url 'core:question_sets_update' set.pk %}">Edit</a> <a href="{% url 'core:question_sets_delete' set.pk %}">Delete</a><br>
  {% empty %}
  <p>
    No Question Sets available
  </p>
{% endfor %}
{% endblock content %}
