<!DOCTYPE html>
<html>
<head>
	<title>SUBJECT UNIT</title>
</head>
<body>
	<div>
		<h4>Subject <a href="{% url 'core:unit_add' subject.id %}">Add New Unit</a></h4>
		{{subject.name}}
	</div>
	<div>
		{% for unit in subject_unit %}

		<h4>Unit {{ forloop.counter }}. {{ unit.name }}</h4>
      <h5>Chapters 	<a href="{% url 'core:chapter_add' unit.id %}">Add  Chapter</a></h5>
      {% for chapter in unit.chapters.all %}
        <a href="{% url 'core:question_sets' chapter.pk %}">{{ forloop.counter }}. {{ chapter.name }}</a><br>
      {% endfor %}
    {% endfor %}
		<br><br>

	</div>
	<br><br>

</body>
</html>
