{% extends "_base.html" %}

{% block nav %}
	<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'core:course_list' %}">Courses</a></li>
				<li class="breadcrumb-item"><a href="{% url 'core:course_detail' object.course.id %}">{{object.course}}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{object}}</li>
			</ol>
		</nav>
{% endblock nav %}
{% block content %}

	<h4>Subjects</a></h4>
	{{ object.name }}
	<br><br>
	<h4>Units</a></h4>
	{% for unit in units %}<br>
  <a href="{% url 'core:unit_detail' unit.id %}">{{ unit }}</a> <a href="{% url 'core:unit_edit' unit.id %}">Edit</a>  <a href="{% url 'core:unit_delete' unit.id%}">Delete</a><br>
	{% endfor %}
	<br><br>
	<a href="{% url 'core:unit_add' object.id %}">Add New Unit</a>
{% endblock content %}

