{% extends "_base.html" %}

{% block nav %}
	<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'core:course_list' %}">Courses</a></li>
				<li class="breadcrumb-item"><a href="{% url 'core:course_detail' unit.subject.course.id %}">{{unit.subject.course}}</a></li>
				<li class="breadcrumb-item"><a href="{% url 'core:subject_detail' unit.subject.id %}">{{unit.subject}}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{unit}}</li>
			</ol>
		</nav>
{% endblock nav %}
{% block content %}

		<h4>Units</a></h4>
		{{ unit.name }}
		<br><br>
		<h4>Chapters</a></h4>
		{% for chapter in chapters %}<br>
		<a href="{% url 'core:question_sets' chapter.pk %}">{{ forloop.counter }}. {{ chapter.name }}</a>
		<a href="{% url 'core:chapter_edit' chapter.pk %}">Edit</a>  <a href="{% url 'core:chapter_delete' chapter.pk %}">Delete</a>
		{% endfor %}
		<br><br>
		<a href="{% url 'core:chapter_add' object.id%}">Add New Chapter</a>
{% endblock content %}
